<% layout('commons/boilerplate')%>

<div class="d-flex">
    <div class="d-flex flex-column me-auto">
        <div class="d-flex flex-row align-items-center">
            <h5 class="mb-0 d-inline-block"><%= day %></h5>

            <span class="badge rounded-pill bg-selected2 text-dark ms-auto">As of</span>

        </div>
        <h4 class="mb-0"><%= date %></h4>
    </div>
    <div class="d-flex flex-column justify-content-end align-items-center">
        <h3 class="my-0">S&P 500 sector weights</h3>
        <p class="my-0">Gathered from <a href="https://www.sectorspdr.com/sectorspdr/"
                target="_blank">www.sectorspdr.com</a></p>
    </div>
    <div class="d-flex flex-column ms-auto invisible">
        <h4 class="mb-0"><%= date %></h4>

    </div>

</div>


<div class="d-flex flex-row">

    <div class="flex-grow-0 border-end pe-2 flex-column">
        <h6>Thinkscript sector <br> definitions:</h6>
        <pre id="sector-text" class="mb-0"><%=result.string%></pre>
        <button class="btn btn-sm btn-secondary py-0 calbutton me-auto" onClick="copyText()">Copy</button>
    </div>

    <div id="allEntriesDiv" class="flex-grow-1 border-start ps-2">
        <h5> XLE Energy: <%=result.XLE%>%</h5>
        <h5> XLU Utilities: <%=result.XLU%>%</h5>
        <h5> XLK Technology: <%=result.XLK%>%</h5>
        <h5> XLB Materials: <%=result.XLB%>%</h5>
        <h5> XLP Consumer Staples: <%=result.XLP%>%</h5>
        <h5> XLY Consumer Discretionary: <%=result.XLY%>%</h5>
        <h5> XLI Industrial: <%=result.XLI%>%</h5>
        <h5> XLC Communication Services: <%=result.XLC%>%</h5>
        <h5> XLV Health Care: <%=result.XLV%>%</h5>
        <h5> XLF Financial: <%=result.XLF%>%</h5>
        <h5> XLRE Real Estate: <%=result.XLRE%>%</h5>
    </div>




</div>

<script>
    function copyText() {
        /* Get the text field */
        var copyText = document.getElementById("sector-text").innerText;

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText);

        /* Alert the copied text */
        alert("Copied the definitions");
    }
</script>